.input-area {
  margin: 10px 0;
}

.sign-in-btn {
  margin-right: 10px;
}

// #toast-container {
//   top: 20px;
//   right: 20px;
// }

.toast {
  //   top: 20px;
  //   right: 20px;
  color: black;
}
